header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

button {
    margin: 0 25px;
    padding: 5px 10px;
    background: #ffffff;
    filter: drop-shadow(2px 2px 2px #000000);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #000;
    color: #fff;
}

.title {
    padding-left: 20px;
}