@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    min-height: 100vh;
}

* { font-family: 'Montserrat', sans-serif; }