.cancel {
    margin: 0 25px;
    padding: 5px 10px;
    background: #ffffff;
    filter: drop-shadow(2px 2px 2px #000000);
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 2px solid #000;
}

.cancel:hover {
    background: #000;
    color: #fff;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
}

th {
    text-align: left;
}

form {
    height: 90vh;
}

.product-add-form {
    min-width: 500px;
}

.form {
    height: 100vh;
}

input[type="checkbox"] {
    transform: scale(1);
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
    transform: scale(1.1);
}

input {
    background-color: white;
    transition: all 0.3s ease;
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

select {
    background-color: white;
    transition: all 0.3s ease;
    padding: 5px;
    border: 1px solid #ccc;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
